# Ignorar diretórios __pycache__
__pycache__/

# Ignorar arquivos de compilação do Python
*.pyc
*.pyo

# Ignorar ambientes virtuais
venv/
env/

# Ignorar arquivos de configuração do IDE
.idea/
.vscode/

# Ignorar arquivos de log
*.log

# Ignorar arquivos de configuração do sistema
.DS_Store